{% extends 'base.html.twig' %}

{% block body %}
    {% if result.success %}
        <p>Transaction {{ result.transaction.id }}</p>
    {% else %}
        {% for error in result.errors.deepAll() %}
            <p>{{ result.message }}</p>
        {% endfor %}
    {% endif %}
    {{ dump(result) }}
{% endblock %}