{% extends 'base.html.twig' %}

{% block body %}
    <p><a href="{{ path('dropin') }}">Transaction with Drop-In UI</a></p>
    <p><a href="{{ path('fake_transaction') }}">Transaction with fake nonce</a></p>
{% endblock %}